﻿@model IEnumerable<RentReview.Models.RentItem>

@{
    ViewBag.Title = "Inventory";
}

@if (ViewBag.IsOwner)
{
    <h2>My Inventory</h2>
}
else if (!string.IsNullOrEmpty(ViewBag.Username))
{
    <h2>User "@ViewBag.Username" Inventory</h2>
}
else
{
    <h2>User Inventory</h2>
}

<p>
    Showing @Model.Count() items

    @if (ViewBag.IsOwner)
    {
        @: | @Html.ActionLink("Create New", "Create")
    }
</p>

@foreach (var item in Model)
{
<div class="card mb-3 shadow">    
    @Html.Partial("Item", item)
    <div class="card-footer border border-top-0 border-dark d-flex justify-content-center flex-wrap p-0">
        @if (ViewBag.IsOwner)
        {
            <span class="m-0 p-0 w-auto h-auto mx-4">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
            <span class="m-0 p-0 w-auto h-auto mx-4">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
            <span class="m-0 p-0 w-auto h-auto mx-4">
                <a data-toggle="collapse" href="#details@(item.Id)" role="button" aria-expanded="false" aria-controls="collapse-control">Details</a>
            </span>
        }
        else
        {
            <span class="m-0 p-0 w-auto h-auto mx-4">
                <a data-toggle="collapse" href="#details@(item.Id)" role="button" aria-expanded="false" aria-controls="collapse-control">Details</a>
            </span>
        }
    </div>
</div>
}
