﻿@{
    ViewBag.Title = "Home";
}

<div id="rentReviewIntro" class="carousel slide shadow mb-5" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#rentReviewIntro" data-slide-to="0" class="active"></li>
        <li data-target="#rentReviewIntro" data-slide-to="1"></li>
        <li data-target="#rentReviewIntro" data-slide-to="2"></li>
        <li data-target="#rentReviewIntro" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="h-100 m-5 text-center">
                <div class="d-inline">
                    <img src="~/App_Start/Google/RR_192.png" alt="Rent Review" />
                </div>
                <div class="d-inline-block text-left p-3">
                    <h3>Unlock the full potential</h3>
                    <p>Create a profile to be able to access all the features<br /> of this web app.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="h-100 m-5 text-center">
                <div class="d-inline">
                    <img src="~/App_Start/Google/RR_192.png" alt="Rent Review" />
                </div>
                <div class="d-inline-block text-left p-3">
                    <h3>Track everything</h3>
                    <p>
                        Your inventoryn contracts and reviews are orginizedin such way <br />
                        you can find what you look for quickly.
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="h-100 m-5 text-center">
                <div class="d-inline">
                    <img src="~/App_Start/Google/RR_192.png" alt="Rent Review" />
                </div>
                <div class="d-inline-block text-left p-3">
                    <h3>Honest Reviews</h3>
                    <p>
                        Your review will not be visible until the other contract couterpart enters his review, <br />
                        just give your honest review.
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="h-100 m-5 text-center">
                <div class="d-inline">
                    <img src="~/App_Start/Google/RR_192.png" alt="Rent Review" />
                </div>
                <div class="d-inline-block text-left p-3">
                    <h3>Peace of mind</h3>
                    <p>
                        You can lookup users or items you are willing to use <br />
                        Reviews will help you make that decision.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#rentReviewIntro" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#rentReviewIntro" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-0 col-lg-2"></div>
    <div class="col-md-12 col-lg-8">
        <div class="w-100">
            <div class="row m-3 shadow">
                <div class="col-auto p-3">
                    <h1 class="text-primary">1.</h1>
                </div>
                <div class="col p-3 d-inline align-middle">
                    <p>Register and fill in <a href="@Url.Action("Index", "Profile")">your profile</a> information first. You can customize your profile picture too.</p>
                </div>
            </div>

            <div class="row m-3 shadow">
                <div class="col-auto p-3">
                    <h1 class="text-primary">2.</h1>
                </div>
                <div class="col p-3 d-inline align-middle">
                    <p>
                        If you have something you want to rent to people,
                        go to <a href="@Url.Action("Index", "Inventory")">your inventory</a> and add it there.
                    </p>
                </div>
            </div>

            <div class="row m-3 shadow">
                <div class="col-auto p-3">
                    <h1 class="text-primary">3.</h1>
                </div>
                <div class="col p-3 d-inline align-middle">
                    <p>
                        Once you reach an agreement with an other user, you can <a href="@Url.Action("Create", "Contract")">create a contract</a>. <br />
                        You can display the list of <a href="@Url.Action("Index", "Contract")">your contracts</a> and approve/decline any incoming request.
                    </p>
                </div>
            </div>

            <div class="row m-3 shadow">
                <div class="col-auto p-3">
                    <h1 class="text-primary">4.</h1>
                </div>
                <div class="col p-3 d-inline align-middle">
                    <p>
                        When your contract reaches an end, you can conclude the contract and provide a review.
                        Your review will not be visible until the other contract counterpart provides a review.<br />
                        Go to <a href="@Url.Action("Index", "Review")">your reviews</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-0 col-lg-2"></div>
</div>