﻿@model IEnumerable<RentReview.Models.ContractViewModel>


@{
    ViewBag.Title = "Contract List";
}

<h2>Your Contract List</h2>

<p>
    Showing @(Model.Count()) contracts |
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var group in Model.GroupBy(item => item.Group))
{
    <div class="card border-bottom border-dark">
        <div class="card-header shadow">
            <h5 class="mb-0">
                <span class="badge badge-primary">@group.Count()</span>
                <button class="btn btn-link" data-toggle="collapse" data-target="#@group.Key" aria-expanded="true">
                    @if (group.Key == RentReview.Models.ContractClassification.OnHold)
                    {
                        @:On Hold
                    }
                    else
                    {
                        @group.Key
                    }
                </button>
            </h5>
        </div>

        <div id="@group.Key" class="collapse show" aria-labelledby="@group.Key">
            <div class="card-body">
                @foreach (RentReview.Models.ContractViewModel contract in group)
                {
                    <div class="container">
                        @Html.Partial("Contract", contract.Contract)
                    </div>
                }
            </div>
        </div>
    </div>
    <hr />
}