﻿@model RentReview.Models.RentContract
@using Microsoft.AspNet.Identity;

<div class="card mb-3 shadow">
    <div class="card-header border-0 text-right shadow p-2">
        <a href="@Url.Action("DetailedContract", new { id = Model.Id})"><i class="fa fa-external-link"></i></a>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="text-center">@Html.LabelFor(model => model.Customer)</div>

                @Html.Partial("Profile", Model.Customer)

                <div class="text-center">
                    @Html.Partial("Response", new RentReview.Models.UserResponseViewModel
                                                                                       {
                                                                                           Response = Model.CustomerResponse,
                                                                                           ContractId = Model.Id,
                                                                                           UserId = Model.Customer.UserId
                                                                                       })
                    @if (Model.Terminated &&
                        Model.CustomerReview == null &&
                        User.Identity.GetUserId() == Model.Customer.UserId)
                    {
                        using (Html.BeginForm("Create", "Review", FormMethod.Get))
                        {
                            <input type="hidden" name="contractId" value="@Model.Id" />
                            <button type="submit" class="btn btn-link">Review</button>
                        }
                    }

                    @if (Model.CustomerReview != null)
                    {
                        if (Model.OwnerReview != null)
                        {
                            @Html.Partial("MiniReview", Model.CustomerReview.Rating);
                        }
                        else
                        {
                            <p class="alert-info">Review will be visible when both counterparts finish the review.</p>
                        }
                    }
                </div>
                <hr />
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                @Html.LabelFor(model => model.Item)
                <h3>@Model.Item.Name</h3>
                <h6><i class="fa fa-calendar"></i> @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</h6>
                <h6>$@Model.UnitCost - @Model.Interval</h6>
                <hr />
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="text-center">@Html.LabelFor(model => model.Item.Owner)</div>

                @Html.Partial("Profile", Model.Item.Owner)
                <div class="text-center">
                    @Html.Partial("Response", new RentReview.Models.UserResponseViewModel
                                                                                       {
                                                                                           Response = Model.OwnerResponse,
                                                                                           ContractId = Model.Id,
                                                                                           UserId = Model.Item.Owner.UserId
                                                                                       })
                    @if (Model.Terminated &&
                    Model.OwnerReview == null &&
                    User.Identity.GetUserId() == Model.Item.Owner.UserId)
                    {
                        using (Html.BeginForm("Create", "Review", FormMethod.Get))
                        {
                            <input type="hidden" name="contractId" value="@Model.Id" />
                            <button type="submit" class="btn btn-link">Review</button>
                        }
                    }

                    @if (Model.OwnerReview != null)
                    {
                        if (Model.CustomerReview != null)
                        {
                            @Html.Partial("MiniReview", Model.OwnerReview.Rating);
                        }
                        else
                        {
                            <p class="alert-info">Review will be visible when both counterparts finish the review.</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer border border-top-0 border-dark d-flex justify-content-center flex-wrap p-0">
        @if (!Model.Terminated)
        {
            <div class="m-0 p-0 w-auto h-auto mx-4">
                @Html.ActionLink("Revise", "Revise", new { id = Model.Id, @class = "m-0 p-0 h-auto align-bottom" })
            </div>
        }

        @if (Model.CustomerResponse != RentReview.Models.UserResponse.WaitingReponse &&
            Model.OwnerResponse != RentReview.Models.UserResponse.WaitingReponse &&
            !Model.Terminated)
        {
            <div class="m-0 p-0 w-auto h-auto mx-4">
                @using (Html.BeginForm("Conclude", "Contract", FormMethod.Post, new { @class = "m-0 p-0 h-auto" }))
                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-link m-0 p-0 h-auto align-bottom">Conclude</button>
                }
            </div>
        }
    </div>
</div>
