﻿@model RentReview.Models.RentContract

@{
    ViewBag.Title = "Create";
}

<h2>Create a new contract</h2>

@using (Html.BeginForm("Create", "Contract", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>RentContract</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" data-rr-type="User">
                @Html.EditorFor(model => model.Customer.UserId, new { htmlAttributes = new { @class = "form-control", Name = "customerId", id = "customerId" } })
                @Html.ValidationMessageFor(model => model.Customer.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Item, htmlAttributes: new { @class = "control-label col-md-2" })
            @if (Model != null && Model.Item != null && Model.Item.Owner != null)
            {
                <div class="col-md-10" data-rr-type="Item" data-rr-owner="@Model.Item.Owner.UserId">
                    @Html.EditorFor(model => model.Item.Id, new { htmlAttributes = new { @class = "form-control", Name = "itemId" } })
                    @Html.ValidationMessageFor(model => model.Item.Id, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <div class="col-md-10" data-rr-type="Item">
                    @Html.EditorFor(model => model.Item.Id, new { htmlAttributes = new { @class = "form-control", Name = "itemId" } })
                    @Html.ValidationMessageFor(model => model.Item.Id, "", new { @class = "text-danger" })
                </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Interval, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Interval)
                @Html.ValidationMessageFor(model => model.Interval, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, new Dictionary<string, object>() { { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="appended-input"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
