﻿@model RentReview.Models.RentContract

@{
    ViewBag.Title = "DetailedContract";
}

<h2>Contract Details</h2>
@Html.Partial("Contract", Model)

<div class="row row-eq-height">
    <div class="col-sm-12 col-md-6 mb-5 p-4">
        <h4>Customer Review</h4>
        @if (Model.CustomerReview == null)
        {
            <p class="alert-warning">@Model.Customer.Name did not provide a review yet.</p>
        }
        else
        {
            @Html.Partial("Review", Model.CustomerReview);
        }
    </div>

    <div class="col-sm-12 col-md-6 mb-5 p-4">
        <h4>Owner Review</h4>
        @if (Model.CustomerReview == null)
        {
            <p class="alert-warning">@Model.Item.Owner.Name did not provide a review yet.</p>
        }
        else
        {
            @Html.Partial("Review", Model.OwnerReview);
        }
    </div>
</div>