﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rent Review</title>
    <link rel="manifest" href="App_Start/Google/manifest.json">
    <meta name="theme-color" content="#003366" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand text-info p-0 m-0 mr-5" href="@Url.Action("Index", "Home")">
            <span class="beta align-text-top p-0">
                @Html.Partial("Logo")
                <small class="align-text-top p-0 m-0" style="line-height: 1.0;">beta</small>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Inventory")">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Contract")">Contracts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Review")">Reviews</a>
                </li>
            </ul>

            @using (Html.BeginForm("Search", "Profile", FormMethod.Get, new { @class = "mr-3" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <input type="text" class="form-control" name="searchTerm" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }

            @Html.Partial("_loginPartial")

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

        <footer class="container">
            <p class="text-center">&copy; @DateTime.Now.Year - Rent Review</p>
            <p class="text-center">By using our site you acknowledge that you have read and understand our <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/rentreview")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
