﻿@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            <li class="nav-item dropdown text-right">
                <a class="nav-link dropdown-toggle pb-md-0 p-lg-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.Action("GetProfilePicture", "Profile", new { UserID = User.Identity.GetUserId() })
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "Profile")">Account Settings</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Security Settings</a>
                    @Html.AntiForgeryToken()
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </li>
        }
    }
    else
    {
        <li class="nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>