﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Internal Error";
}

<h3 class="text-danger"><i class="fa fa-warning"></i> Internal Error</h3>
<h5 class="alert-danger">An error occurred while processing your request.</h5>

