﻿@model string

<div class="row row-eq-height">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 p-2">
        <div class="card border-primary h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-truck"></i> Inventory</h5>
                <p class="card-text">@Html.Action("GetItemCount", "Inventory", new { UserId = Model })</p>
            </div>
            <div class="card-footer">
                <a class="float-right" href="@Url.Action("Index", "Inventory", new { UserId = Model })">Go to inventory <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 p-2">
        <div class="card border-primary h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-handshake-o"></i> Contracts</h5>
                <p class="card-text" id="ContractsSummary">@Html.Action("GetContractCount", "Contract", new { UserId = Model })</p>
            </div>
            <div class="card-footer">
                <a class="float-right" href="@Url.Action("Index", "Contract", new { UserId = Model })">Go to Contracts <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3 p-2">
        <div class="card border-primary h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-star-o"></i> Reviews</h5>
                <p class="card-text" id="ReviewsSummary">
                    @Html.Action("GetSummary", "Review", new { UserId = Model })
                </p>
            </div>
            <div class="card-footer">
                <a class="float-right" href="@Url.Action("Index", "Review", new { UserId = Model })">Go to Reviews <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
