﻿@model RentReview.Models.RentItem

<div class="card-header text-right shadow p-2">
    @Html.ActionLink("Rent", "Rent", "Contract", new { itemId = Model.Id }, null)
</div>

<div class="card-body text-dark">
    <h3>@(Model.Name)</h3>
    <p>
        @(Model.City), @(Model.Country)<br />
        Category: @(Model.Category)
    </p>

    <div class="collapse" id="details@(Model.Id)">
        <div class="card card-body">
            @{ if (!string.IsNullOrEmpty(@Model.Url))
                {
                    <a href="@Model.Url"><i class="fa fa-external-link"></i> External Reference</a>
                }
            }
            <p>
                <b>Description:</b><br />
                @(Model.Description)
            </p>

            <p>
                <b>Review Summary: </b>
                <a href="@Url.Action("IndexForItemReviews" , "Review", new { itemId = Model.Id })">
                    <i class="fa fa-external-link"></i>
                </a>
            </p>
            @Html.Action("GetItemReviewSummary", "Review", new { itemId = Model.Id })
        </div>
    </div>
</div>