﻿@model int

@if (Model <= 5 && Model >= 0)
{
    <span class="text-warning tshadow">
        @for (int index = 0; index < Model; index++)
        {
            <i class="fa fa-star"></i>
        }

        @for (int index = 0; index < 5 - Model; index++)
        {
            <i class="fa fa-star-o"></i>
        }
    </span>
}