﻿@model RentReview.Models.UserProfile
@using Microsoft.AspNet.Identity;
@{
    string displayName = Request.IsAuthenticated && User.Identity.GetUserId().Equals(Model.UserId) ? "(Me)" : string.Empty;
}

<div>
    <div id="@Model.UserId" class="row align-content-end shadow border-bottom border-dark p-1 m-2 w-auto text-center profile-thumbnail">
        <div class="col-auto w-auto p-0 text-right">
            @if (string.IsNullOrEmpty(Model.Image))
            {
                <i class="fa fa-user-circle-o picture m-2 rounded-circle"></i>
            }
            else
            {
                @:<img src=@($@"/images/ProfilePictures/{Model.Image}") class="picture m-2 rounded-circle" alt="N/A">
            }
        </div>
        <div class="col w-100 align-bottom h-auto p-1 text-left details">
            <p class="m-0">
                <a href="@Url.Action("Index","Profile", new { UserId = Model.UserId })" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
                @Model.Name <b>@displayName</b>
                <br>
                <small>
                    @Model.Email<br>
                    @Model.MobileNumber
                </small>
            </p>
        </div>
    </div>
</div>