﻿@model RentReview.Models.UserResponseViewModel
@using Microsoft.AspNet.Identity;

<div>
    @switch (Model.Response)
    {
        case RentReview.Models.UserResponse.Approved:
            <p class="text-success small"><i class="fa fa-check-circle"></i> Approved</p>
            break;
        case RentReview.Models.UserResponse.Declined:
            <p class="text-danger small"><i class="fa fa-remove"></i> Declined</p>
            break;
        case RentReview.Models.UserResponse.WaitingReponse:
            if (Request.IsAuthenticated && User.Identity.GetUserId().Equals(Model.UserId))
            {
                <div class="row w-auto">
                    <div class="col w-auto">
                        @using (Html.BeginForm("Approve", "Contract", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ContractId, new { Name = "Id" });
                            <button class="btn btn-link text-success p-0" type="submit">Approve</button>
                        }
                    </div>
                    <div class="col w-auto">
                        @using (Html.BeginForm("Decline", "Contract", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ContractId, new { Name = "Id" });
                            <button class="btn btn-link text-danger p-0" type="submit">Decline</button>
                        }
                    </div>
                </div>
            }
            else
            {
                <p class="text-warning small"><i class="fa fa-clock-o"></i> Waiting approval</p>
            }
            break;
    }
</div>