﻿@model RentReview.Models.RentReview

<div class="card border-secondary h-100 shadow">
    <div class="card-header text-left">
        <h6><strong>Rating: @Model.Rating</strong> @Html.Partial("MiniReview", Model.Rating)</h6>
    </div>
    <div class="card-body text-secondary">
        <p class="text-success"><b>Pros</b></p>
        <ul class="text-success">
            @if (Model.Pros != null && Model.Pros.Count() > 0)
            {
                foreach (string pro in Model.Pros.Split('\n'))
                {
                    if (!string.IsNullOrWhiteSpace(pro))
                    {
                        <li>@pro</li>
                    }
                }
            }
            else
            {
                <li>None</li>
            }
        </ul>

        <p class="text-danger"><b>Cons</b></p>
        <ul class="text-danger">
            @if (Model.Cons != null && Model.Cons.Count() > 0)
            {
                foreach (string con in Model.Cons.Split('\n'))
                {
                    if (!string.IsNullOrWhiteSpace(con))
                    {
                        <li>@con</li>
                    }
                }
            }
            else
            {
                <li>None</li>
            }
        </ul>

        <p class="text-dark">
            <b>Comments</b><br />
            @Model.Comments
        </p>
    </div>
    <div class="card-footer h-auto m-0 py-0 px-2">
        <p class="text-secondary text-right"><small>@Model.WrittenBy.Name</small></p>
    </div>
</div>
