﻿@model RentReview.Models.RentReview

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Review"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rent Review</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Contract.Id, new { Name = "contractId"})

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Rating, new Dictionary<string, object>() { { "class", "form-control" },
                                                                                        { "data-rr-rating-target", "#ratingWithStars" } })

                <div class="text-center pt-1 m-1" id="ratingWithStars"></div>
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pros, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="pros">
                @Html.TextAreaFor(model => model.Pros, htmlAttributes: new { @class = "form-control border border-success" })
                @Html.ValidationMessageFor(model => model.Pros, "", new { @class = "text-danger" })
                @*<button type="button"
                        class="btn btn-link"
                        style="display: none;"
                        data-rr-list="Pros"
                        data-rr-list-target="#pros"
                        data-rr-list-class="form-control border border-success m-2">
                    <i class="fa fa-plus-square-o fa-2x"></i>
                </button>*@
            </div>            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cons, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="cons">
                @Html.TextAreaFor(model => model.Cons, new Dictionary<string, object>() { { "class", "form-control border border-danger" }, { "data-rr-list", "" } })
                @Html.ValidationMessageFor(model => model.Cons, "", new { @class = "text-danger" })
                @*<button type="button"
                        class="btn btn-link"
                        style="display: none;"
                        data-rr-list="Cons"
                        data-rr-list-target="#cons"
                        data-rr-list-class="form-control border border-danger m-2">
                    <i class="fa fa-plus-square-o fa-2x"></i>
                </button>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, new Dictionary<string, object>() { { "class", "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>