﻿@model IEnumerable<RentReview.Models.RentReview>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.IsOwner != null && ViewBag.IsOwner)
{
    <h2>My Reviews</h2>
}
else if (ViewBag.IsItem != null && ViewBag.IsItem)
{
    <h2>Item "@ViewBag.item" Reviews</h2>
}
else
{
    <h2>User "@ViewBag.Username" Reviews</h2>
}

<p>
    Showing @(Model.Count()) reviews
</p>
<div class="row row-eq-height">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2">
            @Html.Partial("Review", item)
        </div>
    }
</div>