﻿@model IEnumerable<RentReview.Models.RentReview>

@if (Model.Count() > 0)
{
    decimal average = (decimal)Math.Round(Model.Average(review => review.Rating), 1);
    int total = Model.Count();
    decimal fives = total != 0 ? (decimal)Model.Where(review => review.Rating == 5).Count() / total * 100 : 0;
    decimal fours = total != 0 ? (decimal)Model.Where(review => review.Rating == 4).Count() / total * 100 : 0;
    decimal threes = total != 0 ? (decimal)Model.Where(review => review.Rating == 3).Count() / total * 100 : 0;
    decimal twos = total != 0 ? (decimal)Model.Where(review => review.Rating == 2).Count() / total * 100 : 0;
    decimal ones = total != 0 ? (decimal)Model.Where(review => review.Rating == 1).Count() / total * 100 : 0;

    <div class="shadow">
        <h6>Average: <b>@average</b></h6>

        <div class="mt-4">
            <div class="d-inline-block align-bottom w-auto text-right p-1"><p><b>5</b></p></div>
            <div class="d-inline-block align-top w-75 text-left p-1">
                <div class="m-0 p-0 h-auto" style="background: lightgrey;">
                    <div class="bg-warning" style="width: @Math.Round(fives)%; height: 15px;"></div>
                </div>
            </div>
            <div class="d-inline-block align-bottom w-auto text-left text-nowrap p-1"><p><b>@Math.Round(fives, 2)%</b></p></div>
        </div>

        <div>
            <div class="d-inline-block align-bottom w-auto text-right p-1"><p><b>4</b></p></div>
            <div class="d-inline-block align-top w-75 text-left p-1">
                <div class="m-0 p-0 h-auto" style="background: lightgrey;">
                    <div class="col m-0 p-0"><div class="bg-warning" style="width: @Math.Round(fours)%; height: 15px;"></div></div>
                </div>
            </div>
            <div class="d-inline-block align-bottom w-auto text-left text-nowrap p-1"><p><b>@Math.Round(fours, 2)%</b></p></div>
        </div>

        <div>
            <div class="d-inline-block align-bottom w-auto text-right p-1"><p><b>3</b></p></div>
            <div class="d-inline-block align-top w-75 text-left p-1">
                <div class="m-0 p-0 h-auto" style="background: lightgrey;">
                    <div class="bg-warning" style="width: @Math.Round(threes)%; height: 15px;"></div>
                </div>
            </div>
            <div class="d-inline-block align-bottom w-auto text-left text-nowrap p-1"><p><b>@Math.Round(threes, 2)%</b></p></div>
        </div>

        <div>
            <div class="d-inline-block align-bottom w-auto text-right p-1"><p><b>2</b></p></div>
            <div class="d-inline-block align-top w-75 text-left p-1">
                <div class="m-0 p-0 h-auto" style="background: lightgrey;">
                    <div class="bg-warning" style="width: @Math.Round(twos)%; height: 15px;"></div>
                </div>
            </div>
            <div class="d-inline-block align-bottom w-auto text-left text-nowrap p-1"><p><b>@Math.Round(twos, 2)%</b></p></div>
        </div>

        <div class="mb-4">
            <div class="d-inline-block align-bottom w-auto text-right p-1"><p><b>1</b></p></div>
            <div class="d-inline-block align-top w-75 text-left p-1">
                <div class="m-0 p-0 h-auto" style="background: lightgrey;">
                    <div class="bg-warning" style="width: @Math.Round(ones)%; height: 15px;"></div>
                </div>
            </div>
            <div class="d-inline-block align-bottom w-auto text-left text-nowrap p-1"><p><b>@Math.Round(ones, 2)%</b></p></div>
        </div>
    </div>
}
else
{
    <p class="text-secondary">No review</p>
}