﻿@model RentReview.Models.UserProfile

@{
    ViewBag.Title = "Profile";
}

@if (ViewBag.IsOwner)
{
    <h2>My Profile</h2>
    <p>@Html.ActionLink("Edit", "Edit", "Profile")</p>
}
else
{
    <h2>User "@ViewBag.Username" Profile</h2>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <div class="w-100 h-100 m-auto profile">
            @if (Model != null && string.IsNullOrEmpty(Model.Image))
            {
                <i class="fa fa-user-circle profile-picture"></i>
            }
            else
            {
                @:<img class="rounded-circle picture" src=@($@"/images/ProfilePictures/{Model.Image}") alt="Could not load image">
            }

            @if (ViewBag.IsOwner)
            {
                <div class="watermark h-auto w-100 align-bottom text-center btn btn-link bg-dark">
                    <a href="#" data-toggle="modal" data-target="#picture-dialog"><i class="fa fa-upload"></i> Upload</a>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <h4><b>@Html.DisplayFor(model => model.Name)</b></h4>
        <p>
            @Html.DisplayFor(model => model.Email)<br />
            @Html.DisplayFor(model => model.MobileNumber)
        </p>
        <b>Summary</b>
        <p>
            @Html.TextAreaFor(model => model.Summary, new { @readonly = "readonly", @class = "form-control" })
        </p>
    </div>
</div>

<div class="modal fade" id="picture-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Change picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ChangePicture", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <label class="btn btn-primary w-100 text-left">
                        <input type="file" name="file" />
                    </label>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            }
        </div>
    </div>
</div>

<hr />

@Html.Partial("GlobalSummary", Model.UserId)