﻿@model IEnumerable<RentReview.Models.UserProfile>

@{
    ViewBag.Title = "Search";
}

<h5>Search Results</h5>
@foreach (RentReview.Models.UserProfile profile in Model)
{
    @Html.Partial("Profile", profile)
}