﻿/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 70px;
    margin-bottom: 100px;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;
}


/* Carousel styling */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-family: "FontAwesome";
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '\f054';
        font-size: 30px;
        color: gray;
    }

    .carousel-control-prev-icon:after {
        content: '\f053';
        font-size: 30px;
        color: gray;
    }

.carousel-indicators li {
    background-color: gray;
}

.carousel-indicators li.active {
    background-color: darkgray;
}

/* For the navbar brand */
span.beta {
    height: 40px;
    fill: #0066cc;
    color: #0066cc;
}

    span.beta:hover {
        fill: #003366;
        color: #003366;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
form p {
    max-width: 280px;
}


textarea {
    max-width: 420px !important;
}

.tshadow {
    text-shadow: 0px 0px 3px grey;
}


/* Needed for the font awesome icon to fill the whole space */
.profile-picture {
    display: inline-block;
    font-size: 200px !important;
    vertical-align: top !important;
}

/* Profile picture styles */
.profile {
    position: relative;
    max-width: 200px; /* Maximum width */
    max-height: 200px;
}

    .profile .watermark {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        opacity: 0.7;
    }

    .profile .picture {
        display: block;
        height: 200px;
        width: 200px;
    }

div .profile-thumbnail {
    max-width: 400px;
    min-width: 200px;
    display: compact;
}

    div.profile-thumbnail .picture {
        font-size: 50px;
        width: 50px;
    }

    div.profile-thumbnail .details p {
        line-height: 1.1;
    }

/* Used for Autocomplete jQuery widget */
ul {
    list-style: none;
}

.ui-autocomplete {
    background-color: var(--gray);
    padding: 5px;
}

.ui-state-active {
    font-weight: bold;
    background-color: white;
}

.ui-helper-hidden-accessible {
    display: none !important;
}
